<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Information about comic</title>
</head>
<body>
  <ul class="sidebar-nav">
    <li><a href="{% url 'index' %}">Home</a></li>
  </ul>
<H3>Search results for "{{ id }}": </H3>

{% for id in infocomic %}
        <table>
        <tr>
            <td><b>Название </b></td>
            <td><b>Описание</b></td>
            <td><b>Миниатюра</b></td>
        </tr>
            {% for comic_detail in infocomic %}
                <tr>
                    <td> {{ comic_detail.title }} </td>
                    <td> {{ comic_detail.description }} </td>
                    <td> <img src = {{comic_detail.thumbnail}}> </td>
                </tr>
            {% endfor %}
        </table>
{% endfor %}

 <form method="POST" class="">{% csrf_token %}
           {{ form.as_ul }}
           <button type="submit" class="save btn btn-default">Save</button>
       </form>

</body>
</html>
