<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>


{% if title %}
    <table>
    <tr>
        <td><b>Название </b></td>
        <td><b>Описание</b></td>
        <td><b>Миниатюра</b></td>
    </tr>
    {% for title in comic %}
        <tr>
            <td> {{ comic.title }} </td>
            <td> {{ comic.description }} </td>
            <td> <img src ={{comic.thumbnail}}> </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

 <form method="POST" class="">{% csrf_token %}
           {{ form.as_ul }}
           <button type="submit" class="save btn btn-default">Save</button>
       </form>

</body>
</html>
