<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset="utf-8" />
    <title>Edit comic</title>
</head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
<body class="container">
    <form method="POST">
        {% csrf_token %}
        {% if edit_comic.id %}
        <p>
            <label>Title</label><br>
            <input type="text" name="title" value="{{ edit_comic.title }}" />
        </p>
        <p>
            <label>Description</label><br>
            <input type="text" name="description" value="{{ edit_comic.description }}" />
        </p>
        <p>
            <label>Dates</label><br>
            <input type="date" name="dates" value="{{ edit_comic.dates }}" />
        </p>
        <p>
            <label>Thumbnail</label><br>
            <input type="image" name="thumbnail" value=<img src ={{edit_comic.thumbnail}}>
        </p>
        {% endif %}
        <input type="submit" value="Сохранить" >
    </form>
</body>
</html>